/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Estilos para el encabezado */
header {
    background-color: #0077cc;
    color: white;
    text-align: center;
    padding: 1rem;
}

/* Estilos para el contenido principal */
main {
    margin: 2rem;
    text-align: center;
}

button {
    background-color: #0077cc;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #005fa3;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
