/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe); /* Gradiente de azul a cyan */
    margin: 0;
    padding: 0;
    color: white;  /* Asegura que el texto se vea bien con el fondo */
}


/* Estilos para el encabezado */
header {
    background-color: #0077cc;
    color: white;
    text-align: center;
    padding: 1rem;
}

/* Estilos para el contenido principal */
main {
    margin: 2rem;
    text-align: center;
}

button {
    background-color: #4caf50; /* Color verde */
    color: white;
    border: none;
    padding: 0.8rem 1.6rem;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Agrega transición */
}

button:hover {
    background-color: #45a049; /* Cambio de color en hover */
    transform: scale(1.05); /* Efecto de agrandar el botón al pasar el ratón */
}

button:active {
    transform: scale(0.98); /* Efecto al hacer clic */
}


/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
